/*
* General Styles
*/


body,
html{
  font-family: "Open Sans";
  font-size: 16px;
}

a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Zilla Slab";
  font-weight: 700;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 38px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 34px;
}

.btn{
  padding: 15px;
  background-color: #db1c1c;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

#mobile-menu{
  color: white;
  font-size: 24px;
  background-color: rgba(219, 28, 28, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999999;
  display: none;
}
#mobile-menu:hover{
  cursor: pointer;
}
.btn:hover{
  color: white;
}
.b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                   opacity: 0;
    }
    .b-lazy.b-loaded {
                   opacity: 1;
    }

textarea{
  border: 1px solid #282828;
  border-radius: 4px;
}
input[type="submit"]{
  padding: 15px;
  background-color: #db1c1c;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
/*
* General Styles END
*/


/*
This is the header section
*/

.top-header{
  background-color: rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding-top: 22px;
  padding-bottom: 22px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.home .top-header{
  background-image: url('topheaderbg.jpg');
  padding-bottom: 315px;
  background-color: transparent;
  position: static;
}

.top-header .menu{
  margin-top: 35px;
}
.top-header .menu a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed";
}
.top-header .menu a:hover{
  color: #FF1516;
}
.top-header .menu li[class*='current'] a{
  color: #FF1516;
}

/*
* End header section
*/

/* HOME PAGE */
.main-container{
  padding-bottom: 3rem;
}
.home .main-container{
  position: relative;
  /*top: -300px;*/
  margin-top:-300px;
}
.webname{
  text-align: center;
  margin-bottom: 110px;
}
.webname h1,
.webname h2{
  color: white;
  text-shadow: 0px 2px 2.94px rgba(0, 0, 0, 0.3);
}
.webname h1{
  text-transform: uppercase;
}
.webname h2{
  text-transform: capitalize;
}
/* HOME PAGE END */

/* SEARCH BOX */

.searchbox{
  padding-left: 16px;
  padding-right: 16px;
}

.searchbox .container{
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
}
.searchbox .form{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.searchbox h4{
  text-align: center;
  color: #282828;
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 30px;
}

.searchbox input[type="text"],
.searchbox input[type="search"]{
  border: 1px solid #bdbdbd;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans";
  height: 60px;
  border-radius: 5px;
}
.searchbox input[type="submit"]{
  padding: 18px 22px;
  background-color: #db1c1c;
  border:0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
}

.searchbox input[type="submit"]:hover{
  cursor: pointer;
}

/* END SEARCHBOX */

/* ADS ROW */
.ads{
  margin-top: 3rem;
  text-align: center;
}
.ads img{
  border-radius: 5px;
}
/* ADS END */

/* MAIN FOOTER */

.main-footer{
  background-color: #282828;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer h4{
  color: #db1c1c;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.main-footer ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.main-footer li a{
  color: #bdbdbd;
  font-size: 16px;
}
.main-footer li a:hover{
  text-decoration: underline;
}
.main-footer .btn{
  margin-left: auto;
  margin-bottom: 1rem;
}
.main-footer .phone a[href*="tel"]{
  color: #bdbdbd;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 30px;
  display: block;
  line-height: 1.2;
}

.postfooter{
  background-color: #5b5b5b;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.postfooter p{
  margin: 0;
  color: white;
  font-size: 14px;
}
.postfooter a{
  color:white;
}
.postfooter a:hover{
  text-decoration: underline;
}

/* CATEGORIES PAGE */

.page-header{
  background-image: url('pexels-photo.jpg');
  background-size: cover;
  padding-top: 210px;
  padding-bottom: 30px;
  color: white;
  margin-bottom: 40px;
}
.page-header h1{
  text-shadow: 0px 2px 2.94px rgba(0, 0, 0, 0.3);
}
.page-header ul{
  margin: 0;
}
.page-header li{
  display: inline-block;
  margin-right: 5px;
}
.page-header li:last-child{
  margin: 0px;
}
.page-header a{
  color: white;
  font-size: 16px;
}

.products{
  margin-top: 40px;
}
.products .tabs{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border-top: 0;
  border-right: 0;
  border-bottom: 6px solid #000;
}
.products .tabs .tabs-title{

  margin-right: 20px;

}
.products .tabs .tabs-title a{
  border-radius: 5px 5px 0 0;
  background-color: #FF1516;
  padding-left: 30px;
  padding-right: 30px;

}
.products .tabs .tabs-title.is-active a{
  background-color: #000000;
}
.products .tabs a{
  font-size: 18px;
  color: white;
}

.products .tabs-content{
  border: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}

.products .item{
  border-radius: 4px;
  box-shadow: 0px 1px 2.94px 0.06px rgba(0, 0, 0, 0.22);
  padding-top: 15px;
  margin-bottom: 40px;
}

.products .item ul{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.products .item .image img{
  display: block;
  margin-bottom: 20px;
}
.products .item .image li,
.products .item .image a{
  font-size: 14px;
  color: #5b5b5b;
  margin-bottom: 10px;
}

.products .item .image li:before{
  content: "";
  font-family: "fontawesome";
  padding-right: 5px;
  color: #FF1516;
  font-size: 16px;
}
.products .item .image li.eircode{
  color: #db1c1c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.products .item .image li.eircode span{
  font-weight: 400;
  color: #5b5b5b;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #efefef;
  position: absolute;
  top: 3px;
  right: 30px;
  padding: 2px 8px;
  display: block;
  border-radius: 4px;
}
.products .item .image li.eircode span:before{
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #efefef;
  position: absolute;
  left:-6px;
  top: 50%;
  margin-top: -6px;
}

.products .item .image li.address:before{
  content: "\f041";
}
.products .item .image li.url:before{
  content: "\f0c1";
}
.products .item .image li.email:before{
  content: "\f0e0";
}
.products .item .image li.phone:before{
  content: "\f095";
}
.products .item .image li.cel:before{
  content: "\f10b";
}
.products .item .image li.fax:before{
  content: "\f1ac";
}
.products .item .image li.schedule:before{
  content: "\f017";
}


.products .item .content{
  position: relative;
}

.products .item .content p{
  font-size: 14px;
  color: #282828;
  max-width: 265px;
}
.products .item.extended .content p{
  max-width: 602px;
}
.products .item.extended .content .share{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #bdbdbd;
  position: absolute;
  top: 10px;
  right: 20px;
}
.products .item.extended .content .share:after{
  content: "\f055";
  font-family: "fontawesome";
  padding-left: 5px;
}
.products .item .content .more-info{
  color: #FF1516;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 20px;
}

.products .item .content .phones li{
  display: inline-block;
  margin-right: 10px;
}
.products .item .content .phones li:last-child{
  margin-right: 0px;
}
.products .item .content .phones a{
  display: block;
  color: white;
  background-color: #FF1516;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
}

.products .item .content .phones li:last-child a{
  background-color: #282828;
}

.products .item .content .phones a:before{
  content: "\f095";
  font-family: "fontawesome";
  padding-right: 5px;
}

.products .item.extended .content .map{
  position: relative;
  height: 340px;
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.products .item .content .phones li:last-child a:before{
  content: "\f10b";
}

.products .item .content .view-advert{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  border: 2px solid #FF1516;
  color: #FF1516;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.products .item .content .view-advert:before{
  content: "\f1c5";
  font-family: "fontawesome";
  padding-right: 5px;
}

.products .item .tags{
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}
.products .item .tags ul{
  margin: 0;
  text-align: right;
}
.products .item .tags li{
  display: inline-block;
  margin-right: 15px;
}
.products .item .tags li:last-child{
  margin-right: 0px;
}
.products .item .tags a{
  color: #7b7b7b;
  font-size: 14px;
  text-decoration: underline;
}
.products .sidebar-right{
  padding-top: 40px;
  text-align: center;

}

/* MEDIA QUERIES  */

@media screen and (max-width:768px){
  #mobile-menu{
    display: block;
  }
  .products .tabs a{
    font-size: 14px;

  }
  .products .tabs .tabs-title a{
    padding-left: 20px;
    padding-right: 20px;
  }
  .products .item .image{
    text-align: center;
  }
  .products .item .image img{
    margin-left: auto;
    margin-right: auto;
  }
  .products .item .content .view-advert,
  .products .item.extended .content .share{
    position: static;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 14px;
    margin-right: auto;
  }


  .products .item .tags ul{
    text-align: center;
  }
  .products .item .tags ul a{
    font-size: 12px;
  }
  .products .item .content .phones a{
    font-size: 14px;
  }
  .top-header .menu {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    transition: .3s;
  }
  .top-header .menu li{
    display: block;
  }
  .top-header .menu.active{
    left: 0;
  }

  .searchbox input[type="text"],
  .searchbox input[type="search"]{
    box-sizing: border-box;
  }

  .ads .ad{
    margin-bottom: 15px;
  }

  .main-footer .logo{
    text-align: center;
    margin-bottom: 16px;
  }
  .main-footer h4{
    text-align: center;
    margin-bottom: 16px;
  }
  .main-footer .phone{
    text-align: center;
  }
  .main-footer .btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 210px;
  }
}
