/*
* General Styles
*/


body,
html{
  font-family: "Open Sans";
  font-size: 16px;
}

a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Zilla Slab";
  font-weight: 700;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 38px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 34px;
}

.btn{
  padding: 15px;
  background-color: #db1c1c;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

#mobile-menu{
  color: white;
  font-size: 24px;
  background-color: rgba(219, 28, 28, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999999;
  display: none;
}
#mobile-menu:hover{
  cursor: pointer;
}
.btn:hover{
  color: white;
}
.b-lazy {
        -webkit-transition: opacity 500ms ease-in-out;
           -moz-transition: opacity 500ms ease-in-out;
             -o-transition: opacity 500ms ease-in-out;
                transition: opacity 500ms ease-in-out;
                 max-width: 100%;
                   opacity: 0;
    }
    .b-lazy.b-loaded {
                   opacity: 1;
    }
/*
* General Styles END
*/


/*
This is the header section
*/

.top-header{
  background-color: rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding-top: 22px;
  padding-bottom: 22px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}

.home .top-header{
  background-image: url('topheaderbg.jpg');
  padding-bottom: 315px;
  background-color: transparent;
  position: static;
}

.top-header .menu{
  margin-top: 35px;
}
.top-header .menu a{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed";
}
.top-header .menu a:hover{
  color: #FF1516;
}
.top-header .menu li[class*='current'] a{
  color: #FF1516;
}

/*
* End header section
*/

/* HOME PAGE */
.main-container{
  padding-bottom: 3rem;
}
.home .main-container{
  position: relative;
  /*top: -300px;*/
  margin-top:-300px;
}
.webname{
  text-align: center;
  margin-bottom: 110px;
}
.webname h1,
.webname h2{
  color: white;
  text-shadow: 0px 2px 2.94px rgba(0, 0, 0, 0.3);
}
.webname h1{
  text-transform: uppercase;
}
.webname h2{
  text-transform: capitalize;
}
/* HOME PAGE END */

/* SEARCH BOX */

.searchbox{
  padding-left: 16px;
  padding-right: 16px;
}

.searchbox .container{
  background-color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
}
.searchbox .form{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.searchbox h4{
  text-align: center;
  color: #282828;
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 30px;
}

.searchbox input[type="text"],
.searchbox input[type="search"]{
  border: 1px solid #bdbdbd;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans";
  height: 60px;
  border-radius: 5px;
}
.searchbox input[type="submit"]{
  padding: 18px 22px;
  background-color: #db1c1c;
  border:0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
}

.searchbox input[type="submit"]:hover{
  cursor: pointer;
}

/* END SEARCHBOX */

/* ADS ROW */
.ads{
  margin-top: 3rem;
  text-align: center;
}
.ads img{
  border-radius: 5px;
}
/* ADS END */

/* MAIN FOOTER */

.main-footer{
  background-color: #282828;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer h4{
  color: #db1c1c;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.main-footer ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.main-footer li a{
  color: #bdbdbd;
  font-size: 16px;
}
.main-footer li a:hover{
  text-decoration: underline;
}
.main-footer .btn{
  margin-left: auto;
  margin-bottom: 1rem;
}
.main-footer .phone a[href*="tel"]{
  color: #bdbdbd;
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 30px;
  display: block;
  line-height: 1.2;
}

.postfooter{
  background-color: #5b5b5b;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.postfooter p{
  margin: 0;
  color: white;
  font-size: 14px;
}
.postfooter a{
  color:white;
}
.postfooter a:hover{
  text-decoration: underline;
}

/* MEDIA QUERIES  */

@media screen and (max-width:760px){
  #mobile-menu{
    display: block;
  }
  .top-header .menu {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    transition: .3s;
  }
  .top-header .menu li{
    display: block;
  }
  .top-header .menu.active{
    left: 0;
  }

  .searchbox input[type="text"],
  .searchbox input[type="search"]{
    box-sizing: border-box;
  }

  .ads .ad{
    margin-bottom: 15px;
  }

  .main-footer .logo{
    text-align: center;
    margin-bottom: 16px;
  }
  .main-footer h4{
    text-align: center;
    margin-bottom: 16px;
  }
  .main-footer .phone{
    text-align: center;
  }
  .main-footer .btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 210px;
  }
}
